@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-family: 'Sora', sans-serif;
}


.container {
    padding: 20px 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f3f3;
}

.container .title {
    width: 100%;
    font-size: 25px;
    color: #1d1d1d;
    text-align: center;
    margin-bottom: 50px;
}

.container-crosswords {
    width: 480px;
    display: flex;
    flex-wrap: wrap;


}

.divInput {
    position: relative;
    width: 30px;
    height: 30px;
}

.divInput .inputWords {
    width: 100%;
}

.inputWords {
    width: 30px;
    height: 30px;
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}




.container-tips {
    width: 500px;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numeracao {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 2px;
    left: 2px;

}

.divBtn {
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divBtn button {
    padding: 20px;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: #f3f3f3;
    transition: 0.7s ease;
    border-radius: 15px;
}

.divBtn button:hover {
    opacity: 0.7;
}

.cardTip {
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color: #dcdcdc;
    border-radius: 20px;
}